@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  src: inline-font-files('OpenSans-Regular.woff2', 'woff2', 'OpenSans-Regular.woff', 'OpenSans-Regular.ttf', 'OpenSans-Regular.svg#SomeFont');
}
